<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Form </title>
</head>
<body>
    <form method="POST" action="update/{{book.id}}">
        {% csrf_token %}
        Update customer name: <input name="CustomerName" type="text" value="book.cname"> <br>
        Update room type: <input name="RoomType" type="text" value="book.roomno"> <br>
        Update room no: <input name="RoomNo" type="text" value="book.roomtype" > <br>
        Update customer email: <input name="CustomerEmail" type="text" value="book.cemail" > <br>
        Update customer contact: <input name="CustomerContact" type="text" value="book.ccontact"> <br>
        <input type="submit">
    </form>

</body>
</html>